.settings__content {
  text-align: left;
}

.settings__button-save {
  width: 7rem;
  margin: 1rem;
  background-color: #09AEBB;
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.settings__lang {
  margin: 1rem;
}

.settings__num {
  margin: 1rem;
}

.settings__lang_label,
.settings__num_label {
  padding: 0.5rem;
}

.settings__lang_select {
  width: 10rem;
}
.settings__num_select {
  width: 8.2rem;
}