<div class="settings__content">
  <div class="settings__lang">
    <label for="lang" class="settings__lang_label">Language</label>
    <select id="lang" [(ngModel)]="chosenLang" class="settings__lang_select">
      <option *ngFor="let lang of settings.languages" [value]="lang">
        {{lang}}
      </option>
    </select>
  </div>
  <div class="settings__num">
    <label for="numWords" class="settings__num_label">Nb. of words: </label>
    <select id="numWords" [(ngModel)]="chosenNum" class="settings__num_select">
      <option *ngFor="let num of wordsCountOptions" [value]="num">
        {{num}}
      </option>
    </select>
  </div>
  <button (click)="raiseSave()" class="settings__button-save">Save</button>
</div>