.App {
  text-align: center;
}

.Widget {
  text-align: center;
  width: 70%;
  border: 0.2rem solid lightgrey;
  margin: auto;
  padding: 5px;
}

.Widget__Content {
 margin: 25px 10px;
}

.Widget__Header {
  width: 90%;
  margin: auto;
}

.Widget__Table {
  width: 34rem;
  border: 1px solid lightgrey;
  margin: auto;
  border-spacing: 0;
}

.Widget__Table-cell {
  border: 1px solid lightgrey;
  margin: 0;
  padding: 5px;
}

.Widget__Button {
  min-width: 6rem;
  height: 2rem;
  vertical-align: middle;
  color: black;
  background-color: white;
  border: 2px solid lightgrey;
}

.Widget__CityBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.Widget__Search {
  width: 70%;
  height: 2rem;
  margin: 15px 0px;
  border: 2px solid lightgrey;
  padding: 5px;

}

.Widget__Favorites {
  margin: 5px;
  background-color: white;
  border: 2px solid lightgrey;
}

.Widget__Link {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  color: black;
}







