.button_add-new {
  width: 7rem;
  margin: 2rem;
  background-color: #09AEBB;
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.recently__input {
  margin: 0.5rem;
}

.recently__inputs_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recently__word-list {
  font-size: 1.3rem;
}